<div class="card" *ngIf="product.payload.val().title">
    <img [src]="product.payload.val().imageUrl" class="card-img-top" alt=" {{ product.payload.val().title }} ">
    <div class="card-body">
      <h3 class="card-title" > {{ product.payload.val().title }} </h3>
      <p class="card-text"> {{ product.payload.val().price | currency:'USD':"symbol" }} </p>
      
    </div>
    <div class="card-footer p-0 d-grid gap-2">
        <button 
        (click)="addToCart(product)"
        class="btn btn-primary" 
        *ngIf="showActions">
          Add to Cart
        </button>
    </div>
  </div>