<p>
    <a routerLink="/admin/products/new" class="btn btn-primary my-2">
        New Product
    </a>
</p>
<p>
  <input 
  #query
  (keyup)="filterItems(query.value)"
  type="text" class="form-control" placeholder="Search ...">
</p>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td> {{ product.payload.val().title }}</td>
      <td>{{ product.payload.val().price | currency:'USD':"symbol" }}</td>
      <td>
        <a [routerLink]="['/admin/products/', product.key]">Edit</a>
      </td>
    </tr>
</table> -->



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let product"> {{ product.payload.val().title }} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product"> {{ product.payload.val().price | currency:'USD':"symbol" }} </td>
    </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product"> 
        <a [routerLink]="['/admin/products/', product.key]">Edit</a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    
    
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>